.parallax {
  background-image: url("../Images/coffee_laptop.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-second {
  background-image: url("../Images/coffe_laptop2.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-third {
  background-image: url("../Images/coffee_laptop412.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-forth {
  background-image: url("../Images/wp2409705.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-inner img {
  width: 100%;
  height: 480px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-but-bigger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.center-but-smaller {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.img-scale {
  width: 240px;
  height: 240px;
}

h1 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}